# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
.pytest_cache/
*.log
*.tmp

# ---------------------------
# Virtual Environments
# ---------------------------
**/venv/
**/.venv/
.env
**/.env

# ---------------------------
# Jupyter
# ---------------------------
.ipynb_checkpoints/

# ---------------------------
# General Data
# ---------------------------
**/data/raw/
**/logs/

# ---------------------------
# Model Artifacts
# ---------------------------
**/models/

# ---------------------------
# System / OS
# ---------------------------
.DS_Store
Thumbs.db
.vscode/

# ---------------------------
# Project-specific
# ---------------------------